@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.header-topo{
    background-color: #263D26;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.viusal-site{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.logo-site{

}

.nome-site{
    color: #fff;
    padding-left: 10px;
    padding-top: 7px;
}   

#search{
   outline: none;
   width: 500px;
   height: 30px;
   border-radius: 8px;
   background-color: #386139;
   border: solid #263D26;
   transition: width 0.3s ease-in-out;
}

::placeholder{
    color: #fff;
    padding-left: 10px;
}

.header-icons{
    display: flex;
}

.perfil-icons{

}

.carrinho-icons{

}

.navigation{
    background-color: #386139;
}

.navigation-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    list-style-type: none;
}

.navigation-bar a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.navigation-bar a:hover{
    font-size: 1.1em;
    transition: 0.5s;
}
